h3 {{album.name | uppercase}} ALBUM

.row
  .col-xs-12
    form(name='addPhotoForm')
      label(for='uploadPhoto') Pick a pic
      input(type='file' ng-model='imageFile')
      button.btn.btn-success(ng-click='uploadImage(imageFile)') FTW
  .col-lg-12.col-md-6.col-sm-4.photoPg(ng-repeat='(key, value) in albums')
    .row
      .photodisplay
        img#albumthumb.thumbnail.image-responsive(ng-src='{{value.$value}}')  
    .row
      form(name='setFavoriteForm')
        button.photoPg.btn.btn-danger(ng-click='deletePhoto($index)'): i.fa.fa-trash-o
        .form-group
          label(for='favorite') Choose as Favorite
          input(type='radio' name='favorite' ng-value='value.$id' ng-model='$parent.favoritePhoto')
.row
  button.form-control.btn.btn-warning(ng-click='setFavorite()') Set Favorite
