h3 LIST OF ALBUMS

.row
  table.table
    thead
      tr
        th Name
        th Date
        th Description
        th Thumbnail
        th Delete
    tbody
      tr(ng-repeat='albumItem in album track by $index')
        td: a(ui-sref='albums.show({name:albumItem.$id})') {{albumItem.name}}
        td {{albumItem.month}}, {{albumItem.year}}
        td {{albumItem.description}}
        td: img(ng-src="{{albumItem.thumbnail}}")
        td: button.btn.btn-warning(ng-click='deleteAlbum($index)'): i.fa.fa-trash-o
